@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our quotes here! <a href="/Insuree/Index" class="btn btn-primary">View Insuree List</a></p>
</div>
